.wrapper {
  width: 100%;
  background-color: var(--color-white);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  height: 60px;
  // background-color: var(--color-white);

  & img {
    margin-left: 0px;
  }
}

.buttonWrapper {
  margin-right: 0px;

  & button:first-of-type {
    margin-right: 10px;
  }
}

@media (max-width: 2559px) {
  .header {
    img {
      margin-left: 60px;
    }
  }
  .buttonWrapper {
    margin-right: 60px;
  }
}

@media (max-width: 1023px) {
  .header {
    img {
      margin-left: 32px;
    }
  }
  .buttonWrapper {
    margin-right: 32px;
  }
}

@media (max-width: 767px) {
  .header {
    img {
      margin-left: 16px;
    }
  }
  .buttonWrapper {
    margin-right: 16px;
  }
}
